@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(217, 12%, 63%);
    --mediumGray: hsl(216, 12%, 54%);
    --darkGray: hsl(216, 12%, 24%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--veryDarkBlue);
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;
}